# vi: ft=config
###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

apiKey=521be16bdf6a4a999fd5553aa4973cfd50916946b1734b798c133d18aafeb71d
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=72bb40687c754d6eaf34925638cf5db763ec7bf1da7e4a66b4f7fa41cabbdfa8
#requesterEmail=user@provider.com

projectName=test2
projectVersion=
projectToken=
#projectTag= key:value

productName=cases
productVersion=
productToken=

projectPerFolder=false
#projectPerFolderIncludes=
#projectPerFolderExcludes=

wss.connectionTimeoutMinutes=5

# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent
#wss.url=https://app.whitesourcesoftware.com/agent
#wss.url=https://app-eu.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=true
updateInventory=true

###########
# General #
###########
offline=false
offline.prettyJson=true
#updateType=APPEND
ignoreSourceFiles=false
#scanComment=
#failErrorLevel=ALL
#requireKnownSha1=false

#generateProjectDetailsJson=true
generateScanReport=true
#scanReportTimeoutMinutes=10
scanReportFilenameFormat=static

#analyzeFrameworks=true
#analyzeFrameworksReference=

#updateEmptyProject=false

log.files.level=Trace
#log.files.maxFileSize=
#log.files.maxFilesCount=
#log.files.path=

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=true
#excludeDependenciesFromNodes=.*commons-io.*,.*maven-model
									 
gradle.resolveDependencies=true
gradle.runAssembleCommand=true
gradle.aggregateModules=true
gradle.preferredEnvironment=gradle
gradle.downloadMissingDependencies=true
gradle.runPreStep=true
gradle.ignoreSourceFiles=false
gradle.preferredEnvironment=gradle
gradle.innerModulesAsDependencies=true
archiveExtractionDepth=10
archiveIncludes=**/*.war **/*.ear **/*.zip **/*.gzip **/*.tar.bz2 **/*.tar.gz **/*.tgz **/*.tar
#archiveExcludes=**/*sources.jar

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
# includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx
#includes=**/*.scala **/*.sbt **/*.jar **/*.zip **/*.tar.gz **/*.tgz

#includes=**/*.m **/*.mm  **/*.js **/*.php
# includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py **/*.jar

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true

